<nav class="cmn-tile-nav dashMenuHt">

      <ul class="clearfix dashMenuHt"  style="margin-bottom:0px !important">
        <li class="colour-1 dashMenuTileHt"><a class="dashMenuTileHt" href="#">Home</a></li>
         <li class="colour-2 dashMenuTileHt"><a class="dashMenuTileHt" href="#">Discussions</a></li>
        <li class="colour-3 dashMenuTileHt"><a class="dashMenuTileHt" href="#">Categories</a></li>
        <li class="colour-4 dashMenuTileHt"><a class="dashMenuTileHt" href="#">Trendings</a></li>
        <li class="colour-5 dashMenuTileHt"><a class="dashMenuTileHt" href="#">Logout</a></li>
      </ul>
</nav>
